.ui.button {
  width: 150px;
}

.ui.button.gradient {
  background: linear-gradient(135deg, red 50%, black 50%);
}

.ui.white {
  color: white;
}

.center {
  text-align: center;
}

.clicked {
  opacity: 1;
}

.unclicked {
  opacity: 0.5;
}