.b-0 {
  bottom: 0;
}

.r-0 {
  right: 0;
}

.l-0 {
  left: 0;
}

.w-15 {
  width: 15%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.trans-50-50 {
  transform: translate(-50%, -50%);
}

.l-50 {
  left: 50%;
}

.t-50 {
  top: 50%;
}

.t-20 {
  top: 10%;
}

.border-5-px {
  border: 5px solid;
}

.back-red {
  background: red;
}

.font-huge {
  font-size: 75px;
}

.gradient {
  background: linear-gradient(135deg, red 50%, black 50%);
}

.red {
  background-color: red;
}
.black {
  background-color: black;
}
.brown {
  background-color: brown;
}

.text-white {
  color: white
}

.pointer {
  cursor: pointer;
}

.height-100 {
  height: 100%;
}

.clicked {
  opacity: 1;
}

.unclicked {
  opacity: 0.5;
}