body {
  background-color: white;
}

.bribe-board-location {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 50%;
  left: 50%;
  top: 50%;
  margin: auto;
}

.enemy-location {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}

.enemy-card {
  border: 5px solid;
  padding: 10px;
  background: white;
  width: 15%;
}

.player-location {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 10px;
  margin-bottom: 10px;
}

.player-card {
  border: 5px solid;
  padding: 10px;
  background: white;
  width: 15%;
}

.trans-50-50 {
  transform: translate(-50%, -50%);
}

.l-50 {
  left: 50%;
}

.t-50 {
  top: 50%;
}

.border-5-px {
  border: 5px solid;
}

.back-red {
  background: red;
}

.bribe-board {
  border: 5px solid;
  padding: 10px;
  background: white;
  margin-bottom: 10px;
}

.game-map-location {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: auto;
}

.game-map {
  border: 5px solid;
  padding: 10px;
  background: white;
  margin-bottom: 10px;
  width: 60%;
}

.font-huge {
  font-size: 75px;
}

.ui.button {
  width: 150px;
}

.gradient {
  background: linear-gradient(135deg, red 50%, black 50%);
}

.red {
  background-color: red;
}
.black {
  background-color: black;
}
.brown {
  background-color: brown;
}

.pointer {
  cursor: pointer;
}

.person-box {
  height: 100%
}

.clicked {
  opacity: 1;
}

.unclicked {
  opacity: 0.5;
}